.header {
  background-color: var(--color-deep-blue);
  padding: 10px;
  box-shadow: 0 2px 4px var(--color-shadow);
}

@mixin base-header-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-white);
}

.header-title {
  @include base-header-title();
}

.header-title-link {
  @include base-header-title();

  text-decoration: none;
}
